# Text-to-SQL with Vanna.ai - Complete Tutorial

**Duration:** 1-2 hours  
**Level:** Intermediate (requires SQL knowledge and basic LLM understanding)  
**Framework:** Vanna.ai 2.0 Agent Framework  
**Database:** PostgreSQL (Supabase)

---

## What You'll Learn

1. What Text-to-SQL is and why it matters
2. How to set up Vanna.ai 2.0 with OpenAI and PostgreSQL
3. Understanding the Agent framework architecture
4. Generating SQL from natural language questions
5. Executing queries and handling results
6. Best practices for production deployment

---

## Prerequisites

- OpenAI API key
- PostgreSQL database (Supabase or local)
- Python 3.12+
- Basic understanding of SQL and LLMs

---

# Section 1: Introduction to Text-to-SQL

## What is Text-to-SQL?

Text-to-SQL converts natural language questions into SQL queries:

```
Question: "How many customers do we have?"
         ‚Üì
SQL: SELECT COUNT(*) FROM customers
         ‚Üì
Result: 100
```

## Why Use Text-to-SQL?

1. **Democratize Data Access** - Non-technical users can query databases
2. **Faster Analytics** - No manual SQL writing required
3. **Business Intelligence** - Power chatbots and dashboards
4. **Real-World Use Cases**: Slack bots, analytics dashboards, customer support tools

## Technical Architecture

```
Natural Language Question
         ‚Üì
    LLM (OpenAI GPT-4o)
         ‚Üì
    SQL Generation
         ‚Üì
    PostgreSQL Database
         ‚Üì
    Results (DataFrame)
```

## Vanna.ai 2.0 Overview

- **Agent Framework** - Modern architecture with user awareness
- **Modular Design** - Swap LLMs, databases, tools
- **Security** - User permissions and access control
- **Streaming UI** - Real-time component updates

---

# Section 2: Environment Setup

## Install Dependencies

In [1]:
# Install required packages
!pip install vanna openai psycopg2-binary python-dotenv pandas sqlalchemy -q

'DOSKEY' is not recognized as an internal or external command,
operable program or batch file.
Access is denied.

## Import Libraries

**Important:** Vanna 2.0 uses different imports than Legacy (0.x)

In [2]:
# Core Vanna 2.0 imports
from vanna import Agent
from vanna.integrations.openai import OpenAILlmService
from vanna.integrations.postgres import PostgresRunner
from vanna.core.registry import ToolRegistry
from vanna.tools import RunSqlTool
from vanna.core.user import UserResolver, User, RequestContext
from vanna.integrations.local.agent_memory import DemoAgentMemory

# Standard libraries
import os
import pandas as pd
import psycopg2
from dotenv import load_dotenv
from urllib.parse import urlparse
from IPython.display import display
from urllib.parse import quote_plus

print("‚úì Libraries imported successfully")

‚úì Libraries imported successfully

## Load Environment Variables

In [5]:
# Load from .env file
load_dotenv()

from urllib.parse import quote_plus


# POSTGRES_USER = os.getenv("POSTGRES_USER")
# POSTGRES_PASSWORD = quote_plus(os.getenv("POSTGRES_PASSWORD"))
# POSTGRES_HOST = os.getenv("POSTGRES_HOST")
# POSTGRES_PORT = 5432
# POSTGRES_DB = os.getenv("POSTGRES_DB")

# DATABASE_URL = f"postgresql://{POSTGRES_USER}:{POSTGRES_PASSWORD}@{POSTGRES_HOST}:{POSTGRES_PORT}/{POSTGRES_DB}"
# Get credentials
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")
DATABASE_URL = os.getenv("DATABASE_URL")

print(DATABASE_URL)
# Verify credentials exist
if not OPENAI_API_KEY:
    raise ValueError("OPENAI_API_KEY not found in environment")
if not DATABASE_URL:
    raise ValueError("DATABASE_URL not found in environment")

print("‚úì Environment variables loaded")
print(f"  OpenAI API Key: {OPENAI_API_KEY[:20]}...")
print(f"  Database: {DATABASE_URL.split('@')[1] if '@' in DATABASE_URL else 'configured'}")

postgresql://postgres.htkawrtndrknuwqyrlnf:RiyuMithu!2017@aws-1-ap-south-1.pooler.supabase.com:5432/postgre
‚úì Environment variables loaded
  OpenAI API Key: sk-proj-Woytf6E2j0Ez...
  Database: aws-1-ap-south-1.pooler.supabase.com:5432/postgre

---

# Section 3: Initialize Vanna 2.0 Agent

## Architecture Components

Vanna 2.0 uses a modular Agent architecture:

1. **LlmService** - The language model (OpenAI GPT-4o)
2. **SqlRunner** - Database connection and execution
3. **ToolRegistry** - Available tools for the Agent
4. **UserResolver** - User authentication and permissions
5. **AgentMemory** - Conversation history
6. **Agent** - Orchestrates everything

## Step 1: Initialize LLM Service

In [6]:
# Initialize OpenAI GPT-4o
llm = OpenAILlmService(
    api_key=OPENAI_API_KEY,
    model="gpt-4o"  # Latest OpenAI model
)

print("‚úì LLM Service initialized (OpenAI GPT-4o)")

‚úì LLM Service initialized (OpenAI GPT-4o)

## Step 2: Initialize PostgreSQL Runner

**Important:** Use `connection_string` approach (simplest)

In [7]:
# Connect to PostgreSQL using connection string
postgres_runner = PostgresRunner(
    connection_string=DATABASE_URL
)

print("‚úì PostgreSQL Runner initialized")

‚úì PostgreSQL Runner initialized

## Step 3: Register Tools

Tools define what the Agent can do. We'll register the `RunSqlTool`.

In [8]:
# Create tool registry
tools = ToolRegistry()

# Register SQL execution tool
tools.register_local_tool(
    RunSqlTool(sql_runner=postgres_runner),
    access_groups=['user', 'admin']  # Who can use this tool
)

print("‚úì Tools registered (RunSqlTool)")

‚úì Tools registered (RunSqlTool)

## Step 4: Create User Resolver

User resolver handles authentication and permissions.

In [9]:
class SimpleUserResolver(UserResolver):
    """Simple user resolver for tutorial purposes"""
    
    async def resolve_user(self, request_context: RequestContext) -> User:
        return User(
            id="tutorial_user",
            email="student@tutorial.com",
            group_memberships=['user', 'admin']  # Full access
        )

user_resolver = SimpleUserResolver()

print("‚úì User Resolver created")

‚úì User Resolver created

## Step 5: Initialize Agent

The Agent orchestrates all components.

In [10]:
# Create the Agent
agent = Agent(
    llm_service=llm,
    tool_registry=tools,
    user_resolver=user_resolver,
    agent_memory=DemoAgentMemory()  # In-memory conversation history
)

print("‚úì Agent initialized successfully!")
print("\n=== Vanna 2.0 Agent Ready ===")

‚úì Agent initialized successfully!

=== Vanna 2.0 Agent Ready ===

---

# Section 4: Understanding the Database

## Database Schema Overview

Our e-commerce database has 3 tables:

### 1. `customers` (100 rows)
- `id` - Primary key
- `name` - Customer name
- `email` - Email address
- `segment` - SMB, Enterprise, or Individual
- `country` - Customer country

### 2. `products` (50 rows)
- `id` - Primary key
- `name` - Product name
- `category` - Product category
- `price` - Product price
- `stock_quantity` - Inventory count

### 3. `orders` (200 rows)
- `id` - Primary key
- `customer_id` - Foreign key to customers
- `order_date` - Order date
- `total_amount` - Order total (NOT 'price'!)
- `status` - Pending, Delivered, Cancelled, Processing

### Relationships
- `customers.id` ‚Üí `orders.customer_id` (one-to-many)

## Create Helper Function for Direct SQL

Sometimes we want to run SQL directly without the Agent.

In [13]:
def run_sql_simple(sql: str) -> pd.DataFrame:
    """
    Execute SQL directly using psycopg2 (non-async, simple).
    
    Args:
        sql: SQL query string
        
    Returns:
        DataFrame with results
    """
    
    POSTGRES_HOST="aws-1-ap-south-1.pooler.supabase.com"
    POSTGRES_PORT=5432
    POSTGRES_USER="postgres.htkawrtndrknuwqyrlnf"
    POSTGRES_PASSWORD="RiyuMithu!2017"
    POSTGRES_DB="postgres"
    DATABASE_URL = f"postgresql://{POSTGRES_USER}:{POSTGRES_PASSWORD}@{POSTGRES_HOST}:{POSTGRES_PORT}/{POSTGRES_DB}"
    print(DATABASE_URL)
    # Parse DATABASE_URL
    parsed = urlparse(DATABASE_URL)
    print(parsed)
    # Connect to database
    conn = psycopg2.connect(
        host=parsed.hostname,
        database=parsed.path[1:],  # Remove leading '/'
        user=parsed.username,
        password=parsed.password,
        port=parsed.port or 5432
    )
    
    # Execute query
    df = pd.read_sql_query(sql, conn)
    conn.close()
    
    return df

print("‚úì Helper function created: run_sql_simple()")

‚úì Helper function created: run_sql_simple()

## Preview Database Tables

In [14]:
# Preview products table
print("=== PRODUCTS TABLE (Sample) ===")
products_sample = run_sql_simple("SELECT * FROM products LIMIT 5")
display(products_sample)

=== PRODUCTS TABLE (Sample) ===
postgresql://postgres.htkawrtndrknuwqyrlnf:RiyuMithu!2017@aws-1-ap-south-1.pooler.supabase.com:5432/postgres
ParseResult(scheme='postgresql', netloc='postgres.htkawrtndrknuwqyrlnf:RiyuMithu!2017@aws-1-ap-south-1.pooler.supabase.com:5432', path='/postgres', params='', query='', fragment='')

C:\Users\Pragna\AppData\Local\Temp\ipykernel_25352\2510880356.py:32: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql, conn)

,id,name,category,price,stock_quantity,description,created_at,updated_at
0,1,Storage Drive,Hardware,1204.32,401,Respond foreign cut south wear. Truth fight co...,2026-01-18 05:25:21.020932,2026-01-18 05:25:21.020932
1,2,Stand,Accessories,1335.55,259,None,2026-01-18 05:25:21.020932,2026-01-18 05:25:21.020932
2,3,Analytics Platform Preston Inc,Software,544.03,368,This however decade now weight successful befo...,2026-01-18 05:25:21.020932,2026-01-18 05:25:21.020932
3,4,Analytics Platform,Software,271.79,127,Sign media price our medical. Something networ...,2026-01-18 05:25:21.020932,2026-01-18 05:25:21.020932
4,5,Webcam,Electronics,1132.81,490,Soldier upon listen prepare month great differ...,2026-01-18 05:25:21.020932,2026-01-18 05:25:21.020932

In [15]:
# Preview orders table
print("=== ORDERS TABLE (Sample) ===")
orders_sample = run_sql_simple("SELECT * FROM orders LIMIT 5")
display(orders_sample)

=== ORDERS TABLE (Sample) ===
postgresql://postgres.htkawrtndrknuwqyrlnf:RiyuMithu!2017@aws-1-ap-south-1.pooler.supabase.com:5432/postgres
ParseResult(scheme='postgresql', netloc='postgres.htkawrtndrknuwqyrlnf:RiyuMithu!2017@aws-1-ap-south-1.pooler.supabase.com:5432', path='/postgres', params='', query='', fragment='')

C:\Users\Pragna\AppData\Local\Temp\ipykernel_25352\2510880356.py:32: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql, conn)

,id,customer_id,order_date,total_amount,status,shipping_address,created_at,updated_at
0,1,68,2025-09-20,1260.30,Delivered,"79035 Wells Circles Suite 376\nWelchtown, CO 6...",2026-01-18 05:25:21.020932,2026-01-18 05:25:21.020932
1,2,87,2025-12-31,3281.27,Delivered,None,2026-01-18 05:25:21.020932,2026-01-18 05:25:21.020932
2,3,40,2025-02-01,2737.86,Delivered,"5081 Vaughn Flat Suite 158\nHarrisstad, SC 56924",2026-01-18 05:25:21.020932,2026-01-18 05:25:21.020932
3,4,51,2025-05-31,1003.90,Pending,"729 Kevin Drives Suite 953\nPort Juanburgh, MS...",2026-01-18 05:25:21.020932,2026-01-18 05:25:21.020932
4,5,63,2025-02-13,2638.23,Cancelled,"2940 Hill Manor Apt. 385\nAngelberg, AK 32780",2026-01-18 05:25:21.020932,2026-01-18 05:25:21.020932

## Database Statistics

In [16]:
# Get table counts
stats = run_sql_simple("""
SELECT 
    (SELECT COUNT(*) FROM customers) as total_customers,
    (SELECT COUNT(*) FROM products) as total_products,
    (SELECT COUNT(*) FROM orders) as total_orders,
    (SELECT COUNT(DISTINCT segment) FROM customers) as customer_segments,
    (SELECT COUNT(DISTINCT category) FROM products) as product_categories,
    (SELECT COUNT(DISTINCT status) FROM orders) as order_statuses
""")

print("=== DATABASE STATISTICS ===")
display(stats)

postgresql://postgres.htkawrtndrknuwqyrlnf:RiyuMithu!2017@aws-1-ap-south-1.pooler.supabase.com:5432/postgres
ParseResult(scheme='postgresql', netloc='postgres.htkawrtndrknuwqyrlnf:RiyuMithu!2017@aws-1-ap-south-1.pooler.supabase.com:5432', path='/postgres', params='', query='', fragment='')
=== DATABASE STATISTICS ===

C:\Users\Pragna\AppData\Local\Temp\ipykernel_25352\2510880356.py:32: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql, conn)

,total_customers,total_products,total_orders,customer_segments,product_categories,order_statuses
0,100,50,200,3,6,4

---

# Section 5: Provide Schema Documentation to Agent

## Why Schema Documentation Matters

The Agent needs to understand:
- What tables exist
- What columns each table has
- Data types and relationships
- Business terminology

**Without schema knowledge, the Agent will generate incorrect SQL!**

Example: It might look for a `price` column in `orders` when the correct column is `total_amount`.

## Provide Schema Context

We'll give the Agent a detailed schema description.

In [17]:
# Schema documentation
SCHEMA_CONTEXT = """
DATABASE SCHEMA:

Table: customers
Columns:
  - id (SERIAL PRIMARY KEY)
  - name (VARCHAR) - Customer full name
  - email (VARCHAR) - Customer email address
  - segment (VARCHAR) - One of: 'SMB', 'Enterprise', 'Individual'
  - country (VARCHAR) - Customer country
  - created_at (TIMESTAMP)
  - updated_at (TIMESTAMP)

Table: products
Columns:
  - id (SERIAL PRIMARY KEY)
  - name (VARCHAR) - Product name
  - category (VARCHAR) - Product category (Electronics, Software, Hardware, etc.)
  - price (DECIMAL) - Product unit price
  - stock_quantity (INT) - Current inventory count
  - description (TEXT)
  - created_at (TIMESTAMP)
  - updated_at (TIMESTAMP)

Table: orders
Columns:
  - id (SERIAL PRIMARY KEY)
  - customer_id (INT) - Foreign key to customers.id
  - order_date (DATE) - Date of order
  - total_amount (DECIMAL) - TOTAL ORDER PRICE (use this for revenue, NOT 'price'!)
  - status (VARCHAR) - One of: 'Pending', 'Delivered', 'Cancelled', 'Processing'
  - shipping_address (TEXT)
  - created_at (TIMESTAMP)
  - updated_at (TIMESTAMP)

RELATIONSHIPS:
  - customers.id ‚Üí orders.customer_id (one-to-many)
  
IMPORTANT NOTES:
  - For order revenue/pricing, use orders.total_amount (NOT 'price')
  - Customer segments: 'SMB', 'Enterprise', 'Individual' (case-sensitive)
  - Order statuses: 'Pending', 'Delivered', 'Cancelled', 'Processing' (case-sensitive)
  - To join customers and orders: JOIN orders ON customers.id = orders.customer_id
"""

print("‚úì Schema context prepared")
print("\nThis will help the Agent understand the database structure.")

‚úì Schema context prepared

This will help the Agent understand the database structure.

---

# Section 6: Querying with the Agent

## Create Helper Function for Agent Queries

**Important:** Vanna 2.0's `agent.send_message()` returns an **async generator**, not a simple awaitable.

We must use `async for` to iterate through UI components.

In [18]:
# Create a request context (simulates HTTP request)
request_context = RequestContext()

# Test query
print("üß™ Testing Agent with: 'How many customers are in the database?'\n")

try:
    # Iterate over streaming results
    async for ui_component in agent.send_message(
        request_context=request_context,
        message="How many customers are in the database?"
    ):
        # Each ui_component is a piece of the response
          print(ui_component)

    print("\n‚úÖ Agent responded successfully!")

except Exception as e:
      print(f"‚ùå Error: {e}")
      print("\nTroubleshooting:")
      print("  ‚Ä¢ Make sure DATABASE_URL is set correctly")
      print("  ‚Ä¢ Ensure the database has a 'customers' table")
      print("  ‚Ä¢ Check OPENAI_API_KEY is valid")

üß™ Testing Agent with: 'How many customers are in the database?'

timestamp='2026-01-18T06:37:55.818641' rich_component=StatusBarUpdateComponent(id='vanna-status-bar', type=<ComponentType.STATUS_BAR_UPDATE: 'status_bar_update'>, lifecycle=<ComponentLifecycle.CREATE: 'create'>, data={}, children=[], timestamp='2026-01-18T06:37:55.818641', visible=True, interactive=False, status='working', message='Processing your request...', detail='Analyzing query') simple_component=None
timestamp='2026-01-18T06:37:55.818641' rich_component=TaskTrackerUpdateComponent(id='vanna-task-tracker', type=<ComponentType.TASK_TRACKER_UPDATE: 'task_tracker_update'>, lifecycle=<ComponentLifecycle.CREATE: 'create'>, data={}, children=[], timestamp='2026-01-18T06:37:55.818641', visible=True, interactive=False, operation=<TaskOperation.ADD_TASK: 'add_task'>, task=Task(id='6d9f5a69-ae59-4986-ac68-471b61175446', title='Load conversation context', description='Reading message history and user context', status='pending', progress=None, created_at='2026-01-18T06:37:55.818641', completed_at=None, metadata={}), task_id=None, status=None, progress=None, detail=None) simple_component=None
timestamp='2026-01-18T06:37:55.823161' rich_component=TaskTrackerUpdateComponent(id='vanna-task-tracker', type=<ComponentType.TASK_TRACKER_UPDATE: 'task_tracker_update'>, lifecycle=<ComponentLifecycle.CREATE: 'create'>, data={}, children=[], timestamp='2026-01-18T06:37:55.823161', visible=True, interactive=False, operation=<TaskOperation.UPDATE_TASK: 'update_task'>, task=None, task_id='6d9f5a69-ae59-4986-ac68-471b61175446', status='completed', progress=None, detail=None) simple_component=None
timestamp='2026-01-18T06:37:58.152591' rich_component=TaskTrackerUpdateComponent(id='vanna-task-tracker', type=<ComponentType.TASK_TRACKER_UPDATE: 'task_tracker_update'>, lifecycle=<ComponentLifecycle.CREATE: 'create'>, data={}, children=[], timestamp='2026-01-18T06:37:58.152591', visible=True, interactive=False, operation=<TaskOperation.ADD_TASK: 'add_task'>, task=Task(id='0af39532-4484-4a13-af80-65a7b6d330e4', title='Execute run_sql', description='Running tool with provided arguments', status='in_progress', progress=None, created_at='2026-01-18T06:37:58.152591', completed_at=None, metadata={}), task_id=None, status=None, progress=None, detail=None) simple_component=None
timestamp='2026-01-18T06:37:58.153776' rich_component=StatusCardComponent(id='9ced05a0-35da-45dd-82c4-79d5dfe4983a', type=<ComponentType.STATUS_CARD: 'status_card'>, lifecycle=<ComponentLifecycle.CREATE: 'create'>, data={}, children=[], timestamp='2026-01-18T06:37:58.153776', visible=True, interactive=False, title='Executing run_sql', status='running', description='Running tool with 1 arguments', icon='‚öôÔ∏è', metadata={'sql': 'SELECT COUNT(*) FROM customers;'}, actions=[], collapsible=False, collapsed=False) simple_component=SimpleTextComponent(type=<SimpleComponentType.TEXT: 'text'>, semantic_type=None, metadata=None, text='')
timestamp='2026-01-18T06:37:58.495310' rich_component=StatusCardComponent(id='9ced05a0-35da-45dd-82c4-79d5dfe4983a', type=<ComponentType.STATUS_CARD: 'status_card'>, lifecycle=<ComponentLifecycle.UPDATE: 'update'>, data={}, children=[], timestamp='2026-01-18T06:37:58.495310', visible=True, interactive=False, title='Executing run_sql', status='error', description='Tool failed: connection to server at "aws-1-ap-south-1.pooler.supabase.com" (3.111.225.200), port 5432 failed: FATAL:  database "postgre" does not exist\n', icon='‚öôÔ∏è', metadata={'sql': 'SELECT COUNT(*) FROM customers;'}, actions=[], collapsible=False, collapsed=False) simple_component=SimpleTextComponent(type=<SimpleComponentType.TEXT: 'text'>, semantic_type=None, metadata=None, text='Tool failed: connection to server at "aws-1-ap-south-1.pooler.supabase.com" (3.111.225.200), port 5432 failed: FATAL:  database "postgre" does not exist\n')
timestamp='2026-01-18T06:37:58.496339' rich_component=TaskTrackerUpdateComponent(id='vanna-task-tracker', type=<ComponentType.TASK_TRACKER_UPDATE: 'task_tracker_update'>, lifecycle=<ComponentLifecycle.CREATE: 'create'>, data={}, children=[], timestamp='2026-01-18T06:37:58.496339', visible=True, interactive=False, operation=<TaskOperation.UPDATE_TASK: 'update_task'>, task=None, task_id='0af39532-4484-4a13-af80-65a7b6d330e4', status='completed', progress=None, detail='Tool return an error') simple_component=None
timestamp='2026-01-18T06:37:58.495310' rich_component=NotificationComponent(id='61697a47-9a69-43f9-a312-70a50986a5c5', type=<ComponentType.NOTIFICATION: 'notification'>, lifecycle=<ComponentLifecycle.CREATE: 'create'>, data={}, children=[], timestamp='2026-01-18T06:37:58.495310', visible=True, interactive=False, message='Error executing query: connection to server at "aws-1-ap-south-1.pooler.supabase.com" (3.111.225.200), port 5432 failed: FATAL:  database "postgre" does not exist\n', title=None, level='error', icon=None, dismissible=True, auto_dismiss=False, auto_dismiss_delay=5000, actions=[]) simple_component=SimpleTextComponent(type=<SimpleComponentType.TEXT: 'text'>, semantic_type=None, metadata=None, text='Error executing query: connection to server at "aws-1-ap-south-1.pooler.supabase.com" (3.111.225.200), port 5432 failed: FATAL:  database "postgre" does not exist\n')
timestamp='2026-01-18T06:37:59.326191' rich_component=StatusBarUpdateComponent(id='vanna-status-bar', type=<ComponentType.STATUS_BAR_UPDATE: 'status_bar_update'>, lifecycle=<ComponentLifecycle.CREATE: 'create'>, data={}, children=[], timestamp='2026-01-18T06:37:59.326191', visible=True, interactive=False, status='idle', message='Response complete', detail='Ready for next message') simple_component=None
timestamp='2026-01-18T06:37:59.326731' rich_component=ChatInputUpdateComponent(id='vanna-chat-input', type=<ComponentType.CHAT_INPUT_UPDATE: 'chat_input_update'>, lifecycle=<ComponentLifecycle.CREATE: 'create'>, data={}, children=[], timestamp='2026-01-18T06:37:59.326731', visible=True, interactive=False, placeholder='Ask a follow-up question...', disabled=False, value=None, focus=None) simple_component=None
timestamp='2026-01-18T06:37:59.326731' rich_component=RichTextComponent(id='0b70846e-6227-40c0-a3c9-6b31a3bfb7a2', type=<ComponentType.TEXT: 'text'>, lifecycle=<ComponentLifecycle.CREATE: 'create'>, data={}, children=[], timestamp='2026-01-18T06:37:59.326731', visible=True, interactive=False, content='It seems there was an issue connecting to the database. The database "postgre" does not exist. Please verify the database name and try again. If you need further assistance or access to a different database, let me know!', markdown=True, code_language=None, font_size=None, font_weight=None, text_align=None) simple_component=SimpleTextComponent(type=<SimpleComponentType.TEXT: 'text'>, semantic_type=None, metadata=None, text='It seems there was an issue connecting to the database. The database "postgre" does not exist. Please verify the database name and try again. If you need further assistance or access to a different database, let me know!')

‚úÖ Agent responded successfully!

In [19]:
async def ask_agent(question: str, include_schema: bool = True):
    """
    Ask the Agent a question and display results.
    
    Args:
        question: Natural language question
        include_schema: Whether to include schema context (recommended: True)
    """
    # Prepend schema context to question
    if include_schema:
        full_message = f"{SCHEMA_CONTEXT}\n\nQUESTION: {question}"
    else:
        full_message = question
    
    # Create request context
    request_context = RequestContext()
    
    print(f"ü§î Question: {question}\n")
    
    # Send message to agent (returns async generator)
    async for component in agent.send_message(
        request_context=request_context,
        message=full_message
    ):
        # Extract the UI component
        rich_comp = component.rich_component
        
        # Handle different component types
        if hasattr(rich_comp, 'rows') and rich_comp.rows:
            # DataFrameComponent - extract data from 'rows' attribute
            df = pd.DataFrame(rich_comp.rows)
            print("üìä Results:")
            display(df)
            print()
        
        elif hasattr(rich_comp, 'text') and rich_comp.text:
            # RichTextComponent - display text
            print(f"üí¨ {rich_comp.text}\n")
        
        elif hasattr(rich_comp, 'sql') and rich_comp.sql:
            # SQL code component
            print(f"üîç Generated SQL:\n{rich_comp.sql}\n")

print("‚úì Helper function created: ask_agent()")

‚úì Helper function created: ask_agent()

### With Explanations

In [ ]:
# async def ask_agent(question: str):
#       """Ask agent and display results properly."""
#       print(f"‚ùì Question: {question}\n")

#       request_context = RequestContext()

#       print("="*80 + "\n")

#       async for component in agent.send_message(
#           request_context=request_context,
#           message=question
#       ):
#           rich_comp = component.rich_component

#           # Check for DataFrame component
#           if hasattr(rich_comp, 'type') and 'DATAFRAME' in str(rich_comp.type):
#               # ‚úÖ Get data from 'rows' attribute!
#               if hasattr(rich_comp, 'rows') and rich_comp.rows:
#                   df = pd.DataFrame(rich_comp.rows)

#                   print("üìä Query Results:\n")
#                   from IPython.display import display
#                   display(df)
#                   print()

#           # Check for text explanation
#           elif hasattr(rich_comp, 'type') and 'TEXT' in str(rich_comp.type):
#               if hasattr(rich_comp, 'content') and rich_comp.content:
#                   print("üí¨ Explanation:\n")
#                   print(rich_comp.content)
#                   print()

#       print("="*80 + "\n")

## Example 1: Simple COUNT Query

In [40]:
await ask_agent("How many customers do we have?")

ü§î Question: How many customers do we have?

üìä Results:

   count
0    100

## Example 2: Aggregation Query

In [16]:
await ask_agent("What is the total revenue from all orders?")

ü§î Question: What is the total revenue from all orders?

üìä Results:

  total_revenue
0     467204.56

## Example 3: Filtering Query

In [17]:
await ask_agent("How many orders have been delivered?")

ü§î Question: How many orders have been delivered?

üìä Results:

   count
0    140

## Example 4: JOIN Query

In [18]:
await ask_agent("Show me the top 5 customers by total spending")

ü§î Question: Show me the top 5 customers by total spending

üìä Results:

             name total_spending
0  Adam Mccormick       15628.40
1       Kevin Lin       15337.06
2   Kelly Ramirez       13940.26
3  Sherry Johnson       13323.72
4    Thomas Brown       13311.52

## Example 5: GROUP BY with JOIN

In [19]:
await ask_agent("What is the average order value for each customer segment?")

ü§î Question: What is the average order value for each customer segment?

üìä Results:

      segment    average_order_value
0  Enterprise  2105.0842222222222222
1  Individual  2466.4253623188405797
2         SMB  2352.2374418604651163

## Example 6: Time-Based Filtering

In [20]:
await ask_agent("Show orders from the last 30 days")

ü§î Question: Show orders from the last 30 days

üìä Results:

,id,customer_id,order_date,total_amount,status,shipping_address,created_at,updated_at
0,5,67,2025-12-17,738.59,Delivered,"PSC 6888, Box 2931\nAPO AA 67668",2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
1,22,54,2026-01-04,3762.70,Delivered,"7247 Sarah Light\nMorrisfort, ID 99759",2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
2,29,33,2025-12-18,3046.35,Delivered,None,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
3,42,83,2025-12-25,2692.29,Delivered,"661 Jacob Grove\nLake Jesus, OH 83145",2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
4,65,95,2025-12-18,4909.68,Delivered,None,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
5,95,13,2025-12-24,3410.28,Cancelled,USNS Peters\nFPO AA 25044,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
6,101,81,2025-12-15,846.13,Delivered,"35036 Diana Harbors Suite 841\nNorth Marc, MD ...",2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
7,128,97,2026-01-02,3080.52,Delivered,USNS Hanson\nFPO AP 10571,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
8,153,33,2025-12-23,4077.61,Cancelled,"095 Susan Harbor\nWest Justinborough, CO 43673",2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
9,200,26,2025-12-19,2229.04,Processing,"156 Jennifer Mall Apt. 926\nLake Matthewside, ...",2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204

## Example 7: Complex Business Question

In [21]:
await ask_agent("What is the total revenue from delivered orders placed by Enterprise customers?")

ü§î Question: What is the total revenue from delivered orders placed by Enterprise customers?

üìä Results:

  total_revenue
0      66412.87

---

# Section 7: Understanding How the Agent Works

## The Agent's Workflow

When you ask a question, here's what happens:

1. **Question Processing** - Agent receives your natural language question
2. **Schema Retrieval** - Agent uses the schema context we provided
3. **SQL Generation** - GPT-4o generates SQL based on the question and schema
4. **Tool Execution** - Agent calls `RunSqlTool` to execute the SQL
5. **Result Formatting** - Results are returned as UI components (DataFrameComponent)
6. **Response** - We extract and display the results

## Why Schema Context is Critical

Compare these two approaches:

### Without Schema Context:

In [22]:
# This might generate incorrect SQL (looking for 'price' instead of 'total_amount')
await ask_agent(
    "What is the total revenue from delivered orders?",
    include_schema=False  # No schema context
)

ü§î Question: What is the total revenue from delivered orders?

üìä Results:

,id,customer_id,order_date,total_amount,status,shipping_address,created_at,updated_at
0,1,2,2025-04-12,4664.19,Delivered,Unit 0084 Box 8448\nDPO AE 03858,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204

üìä Results:

  total_revenue
0     346189.37

### With Schema Context:

In [23]:
# This will generate correct SQL (using 'total_amount')
await ask_agent(
    "What is the total revenue from delivered orders?",
    include_schema=True  # Schema context included
)

ü§î Question: What is the total revenue from delivered orders?

üìä Results:

  total_revenue
0     346189.37

## Verifying Agent Results

Let's verify the Agent's answer with direct SQL:

In [24]:
# Direct SQL query for verification
verification_result = run_sql_simple("""
SELECT 
    COUNT(*) as delivered_count,
    SUM(total_amount) as total_revenue
FROM orders
WHERE status = 'Delivered'
""")

print("=== VERIFICATION (Direct SQL) ===")
display(verification_result)

=== VERIFICATION (Direct SQL) ===

/var/folders/cj/13vbmk7n7fqgmdnqjjwn1bx80000gn/T/ipykernel_37251/4022728488.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql, conn)

   delivered_count  total_revenue
0              140      346189.37

---

# Section 8: Testing Various Question Types

## Simple Queries

In [25]:
await ask_agent("How many products are in stock?")

ü§î Question: How many products are in stock?

üìä Results:

   total_stock
0        12964

## Aggregation Queries

In [27]:
await ask_agent("What is the average product price?")

ü§î Question: What is the average product price?

üìä Results:

  average_product_price
0  956.8192000000000000

In [28]:
await ask_agent("What is the highest order value?")

ü§î Question: What is the highest order value?

üìä Results:

  highest_order_value
0             4973.14

## Filtering and Sorting

In [29]:
await ask_agent("Show me the 10 most expensive products")

ü§î Question: Show me the 10 most expensive products

üìä Results:

                                       name     category    price
0         Laptop Zimmerman, Wilson and Holt  Electronics  1841.93
1        Case Phillips, Harris and Williams  Accessories  1832.58
2  Technical Manual Reed, Schmitt and Crane        Books  1801.89
3                              Support Plan     Services  1801.58
4                      Maintenance Bush LLC     Services  1724.00
5                   Speaker Thomas-Anderson  Electronics  1585.54
6                                    Switch     Hardware  1560.61
7                                  Training     Services  1535.45
8                                    Laptop  Electronics  1466.19
9                    IDE License Watson LLC     Software  1357.42

In [30]:
await ask_agent("Which customers are from the USA?")

ü§î Question: Which customers are from the USA?

üìä Results:

,id,name,email,segment,country
0,1,Craig Robinson,cescobar@example.net,SMB,USA
1,10,Bryce Russell,timothymartin@example.net,Individual,USA
2,16,Rebecca Blevins,amandathomas@example.com,SMB,USA
3,21,Kathy Finley,robert43@example.org,Enterprise,USA
4,23,Megan Diaz,brittanyhouston@example.net,SMB,USA
5,27,Melanie King,qgrant@example.net,SMB,USA
6,30,Christopher Sparks,ymoody@example.net,Individual,USA
7,37,Jackie Dixon,john23@example.org,SMB,USA
8,41,Nicholas Meyers,mendozaanne@example.com,Enterprise,USA
9,44,Stephen Cowan,cwright@example.com,Enterprise,USA
10,50,Mr. Frederick Davidson,brian07@example.com,Enterprise,USA
11,53,Nicole Maynard,hintonbeverly@example.com,SMB,USA
12,56,Eric Mason,gpatterson@example.net,Enterprise,USA
13,58,Leroy Mack,stephen49@example.net,Enterprise,USA
14,68,Robin Diaz,victoria60@example.org,SMB,USA
15,71,Jessica Day,andrewmartin@example.com,SMB,USA
16,78,Erica Romero,ronalddiaz@example.com,Individual,USA
17,96,Evan Green,zandrews@example.com,Individual,USA

## Complex JOIN Queries

In [31]:
await ask_agent("How many orders has each customer segment placed?")

ü§î Question: How many orders has each customer segment placed?

üìä Results:

      segment  order_count
0  Enterprise           45
1  Individual           69
2         SMB           86

In [32]:
await ask_agent("Which customers have never placed an order?")

ü§î Question: Which customers have never placed an order?

üìä Results:

              name                     email
0     Tracy Thomas       jwilson@example.org
1     Shawn Hughes         joy75@example.org
2     Colton Ramos      cassie24@example.net
3     Jackie Dixon        john23@example.org
4     Mark Salazar  amandaparker@example.net
5  Crystal Johnson     michael05@example.net
6       Erin Young      lmorales@example.org
7     Julie Cooper   kellylauren@example.net
8       Maria Neal    rjefferson@example.org
9   Kimberly Yates     jeffpayne@example.net

---

# Section 9: Error Handling and Best Practices

## Common Issues and Solutions

### Issue 1: Ambiguous Questions

**Bad:** "Show me the data" (What data? Which table?)

**Good:** "Show me all customers from the USA"

In [33]:
# This will likely generate better SQL
await ask_agent("Show me all customers from the USA")

ü§î Question: Show me all customers from the USA

üìä Results:

,id,name,email,segment,country,created_at,updated_at
0,1,Craig Robinson,cescobar@example.net,SMB,USA,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
1,10,Bryce Russell,timothymartin@example.net,Individual,USA,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
2,16,Rebecca Blevins,amandathomas@example.com,SMB,USA,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
3,21,Kathy Finley,robert43@example.org,Enterprise,USA,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
4,23,Megan Diaz,brittanyhouston@example.net,SMB,USA,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
5,27,Melanie King,qgrant@example.net,SMB,USA,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
6,30,Christopher Sparks,ymoody@example.net,Individual,USA,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
7,37,Jackie Dixon,john23@example.org,SMB,USA,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
8,41,Nicholas Meyers,mendozaanne@example.com,Enterprise,USA,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
9,44,Stephen Cowan,cwright@example.com,Enterprise,USA,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
10,50,Mr. Frederick Davidson,brian07@example.com,Enterprise,USA,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
11,53,Nicole Maynard,hintonbeverly@example.com,SMB,USA,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
12,56,Eric Mason,gpatterson@example.net,Enterprise,USA,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
13,58,Leroy Mack,stephen49@example.net,Enterprise,USA,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
14,68,Robin Diaz,victoria60@example.org,SMB,USA,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
15,71,Jessica Day,andrewmartin@example.com,SMB,USA,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
16,78,Erica Romero,ronalddiaz@example.com,Individual,USA,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204
17,96,Evan Green,zandrews@example.com,Individual,USA,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204

### Issue 2: Incorrect Column Names

**Problem:** Agent looks for 'price' in orders table (doesn't exist)

**Solution:** Provide clear schema documentation (we do this in `SCHEMA_CONTEXT`)

In [35]:
# Schema context prevents this error
await ask_agent("What is the total revenue?")  # Will correctly use 'total_amount'

ü§î Question: What is the total revenue?

üìä Results:

  total_revenue
0     467204.56

### Issue 3: Case Sensitivity

**Problem:** PostgreSQL string comparisons are case-sensitive

**Solution:** Document exact values in schema context

In [36]:
# This works because we documented 'Delivered' (capitalized) in schema
await ask_agent("Show delivered orders")

ü§î Question: Show delivered orders

üìä Results:

,id,customer_id,order_date,total_amount,status,shipping_address,created_at,updated_at,customer_name,customer_email
0,1,2,2025-04-12,4664.19,Delivered,Unit 0084 Box 8448\nDPO AE 03858,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204,Pamela Holt,taylordavid@example.net
1,3,94,2025-05-09,1096.18,Delivered,"51041 Margaret Stream\nSouth Erica, RI 61867",2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204,Christopher Coleman,sarahdominguez@example.com
2,4,79,2025-06-01,4321.68,Delivered,"94942 Mary Lodge Suite 686\nYolandaburgh, TN 8...",2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204,William Hatfield,ewilliams@example.com
3,5,67,2025-12-17,738.59,Delivered,"PSC 6888, Box 2931\nAPO AA 67668",2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204,Marcus Moyer,juangarner@example.org
4,6,13,2025-04-05,3809.02,Delivered,"27842 Brittany Greens Suite 245\nBeverlyland, ...",2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204,Angel Wilson,juliarios@example.com
...,...,...,...,...,...,...,...,...,...,...
135,194,100,2025-05-18,1953.57,Delivered,None,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204,Kevin Chaney,shermanderek@example.org
136,195,17,2025-10-05,3620.72,Delivered,Unit 4407 Box 6244\nDPO AP 27092,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204,Jamie Le,turnertodd@example.org
137,196,95,2025-10-12,304.03,Delivered,None,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204,Samantha Hayden,bsimpson@example.com
138,197,3,2025-07-18,3828.49,Delivered,None,2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204,Vanessa Johnson,dunncorey@example.com
139,198,92,2025-08-26,1232.75,Delivered,"06040 Gray Junction\nNew Billystad, IL 24470",2026-01-07 06:47:51.713204,2026-01-07 06:47:51.713204,Erika Carr,kennethmoyer@example.org

## Best Practices

1. **Always provide schema context** - Critical for accuracy
2. **Be specific in questions** - Avoid ambiguous language
3. **Document exact values** - Include enum values, case sensitivity
4. **Verify results** - Compare Agent output with direct SQL
5. **Use descriptive column names** - Helps the LLM understand intent
6. **Include business logic** - Document relationships and constraints
7. **Test edge cases** - Empty results, NULLs, etc.
8. **Monitor and log** - Track query accuracy in production

## Production Considerations

1. **User Permissions** - Implement proper `UserResolver` with auth
2. **SQL Validation** - Block dangerous operations (DROP, DELETE without WHERE)
3. **Rate Limiting** - Prevent abuse
4. **Query Approval** - Show SQL to users before execution
5. **Monitoring** - Track failed queries for retraining
6. **Caching** - Cache common questions
7. **Row-Level Security** - Filter data based on user permissions
8. **API Key Management** - Never hardcode credentials

---

# Section 10: Next Steps and Resources

## What We've Learned

‚úÖ Text-to-SQL fundamentals
‚úÖ Vanna.ai 2.0 Agent architecture
‚úÖ Setting up LLM, database, tools, and user resolver
‚úÖ Importance of schema documentation
‚úÖ Querying with natural language
‚úÖ Handling async operations correctly
‚úÖ Extracting results from UI components
‚úÖ Best practices and error handling

## Key Takeaways

1. **Schema context is critical** - Without it, the Agent will generate incorrect SQL
2. **Vanna 2.0 uses async generators** - Use `async for` to iterate components
3. **UI components hold data in different attributes** - DataFrameComponent uses `rows`
4. **Direct SQL is useful** - For verification and simple queries
5. **Production requires more** - Permissions, validation, monitoring

## Advanced Topics to Explore

- **Custom Tools** - Create your own tools beyond RunSqlTool
- **Multi-Turn Conversations** - Agent memory and context
- **Different LLMs** - Try Claude, Llama, or other models
- **Different Databases** - MySQL, SQLite, Snowflake
- **Web Interface** - Vanna's `<vanna-chat>` component
- **Security** - Row-level security, query validation
- **Performance** - Caching, query optimization

## Resources

- **Vanna.ai Documentation**: https://docs.vanna.ai/
- **GitHub Repository**: https://github.com/vanna-ai/vanna
- **Examples**: https://github.com/vanna-ai/vanna/tree/main/examples
- **Community**: Discord, GitHub Discussions
- **API Reference**: https://docs.vanna.ai/api/

## Your Next Project Ideas

1. **Build a Slack Bot** - Answer data questions in Slack
2. **Create a Dashboard** - Visualize query results
3. **HR Analytics** - Query employee database
4. **Sales Intelligence** - Real-time sales queries
5. **Customer Support** - Automated data lookups

---

## Thank You!

You've completed the Vanna.ai Text-to-SQL tutorial. You now have the foundation to build your own Text-to-SQL applications!

**Happy coding! üöÄ**